.mainContainer {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

main {
  display: block;
}
/* theme switch */
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  font-size: 10px;
  position: relative;
  height: 3.5em;
  width: 7em;
  border: 0px solid transparent;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(0.3em, 0.25em);
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #8fcdff;
  /* box-shadow: inset 0px 0px 0px 0.75em #b1b0b0; */
  box-shadow: inset 0px 0px 0px 0.75em #4ca9ffbb;
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(3.65em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(2em, 2em) rotate(-15deg);
}
/* ... */

.displayGrid {
  display: grid;
  position: relative;
  max-width: 100%;
  grid-template-columns: repeat(4, 266px);
  grid-template-rows: repeat(6, 266px);
  column-gap: 24px;
  row-gap: 24px;
  margin-bottom: 80px;
}

.gridHomeItem1 {
  background-color: #fff;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0.2rem 0.4rem 12rem #00000014;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.gridHomeItem2 {
  background-image: url("src/assets/map1.png");
  background-color: #fff;
  filter: brightness(101%);
  border-radius: 32px;
  box-shadow: inset 0px 0px 20px #ffffff, 0.2rem 0.4rem 12rem #00000014;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  grid-row: 1 / 2;
  grid-column: 3 / 5;
}

.gridHomeItem3 {
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0.2rem 0.4rem 12rem #00000014;
  /* display: flex; */
  position: relative;
  overflow: hidden;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.gridHomeItem4 {
  background-color: #fff;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0.2rem 0.4rem 12rem #00000014;
  grid-row: 2 / 4;
  grid-column: 4 / 5;
}

.gridHomeItem5 {
  background-color: #fff;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0.2rem 0.4rem 12rem #00000014;
  grid-row: 3 / 5;
  grid-column: 1 / 2;
}

.gridHomeItem6 {
  background-color: #fff;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0.2rem 0.4rem 12rem #00000014;
  display: flex;
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}

.gridHomeItem7 {
  background-color: #fff;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0.2rem 0.4rem 12rem #00000014;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.gridHomeItem8 {
  background-color: #fff;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0.2rem 0.4rem 12rem #00000014;
  grid-row: 4 / 6;
  grid-column: 3 / 4;
}

.gridHomeItem9 {
  background-color: #fff;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0.2rem 0.4rem 12rem #00000014;
  grid-row: 4 / 6;
  grid-column: 4 / 5;
}
.gridHomeItem10 {
  background-color: #fff;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0.2rem 0.4rem 12rem #00000014;
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}
.gridHomeItem11 {
  background-color: #fff;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0.2rem 0.4rem 12rem #00000014;
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}

.gridIt1Img {
  width: 130px;
  margin-bottom: 1.8em;
  margin-top: 0.5em;
}

.gridIt1Hello {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 0.1em;
}

.gradientName {
  font-size: 52px;
  font-weight: 900;
  /* background-image: linear-gradient(to right, #9180ff, #fdaa8c); */
  background-image: linear-gradient(to right, #0059ac, #8fcdff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gridIt1About {
  padding: 1.5em 3em 0em 0em;
  font-size: 1rem;
  font-weight: 500;
  color: #3b3b3b;
}

.gridIt1Grad {
  /* background-image: linear-gradient(to right, #9180ff, #fdaa8c); */
  background-image: linear-gradient(to right, #0059ac, #8fcdff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.gridIt1Btn {
  width: 110px;
  margin-top: 3.5em;
}

.gridIt3slider {
  position: relative;
  overflow: hidden;
  display: flex;
}

.gridIt3photo {
  width: 100%;
  width: 266px;
  height: 266px;
  border-radius: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  transition: all 0.5s;
}

.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  background: #0000004d;
  color: #ffffff;
  font-size: 1.2em;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.slider-btn:hover {
  background: #0000006c;
}

.slider-btn-left {
  left: 16px;
  bottom: 16px;
}

.slider-btn-right {
  right: 16px;
  bottom: 16px;
}

.gridIt3dots {
  position: absolute;
  bottom: 20px;
  left: 37%;
}

.gridIt3dot {
  border: none;
  background-color: #e6e6e6;
  opacity: 0.4;
  height: 7px;
  width: 7px;
  border-radius: 100px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0 0.6rem 1.5rem #000000cc;
}

.gridIt3dot.active {
  background-color: #ffffff;
  opacity: 0.8;
}

.gridIt4title {
  font-size: 30px;
  font-weight: 700;
  color: #292929;
  margin-bottom: 24px;
}

.gridIt4learningItem {
  border-bottom: 2px solid #bebebe;
  padding: 18px 0;
}

.gridIt4lastItem {
  border: none !important;
}

.gridIt4learningHeader {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.gridIt4icon {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: center;
}

.gI4moreIcons {
  margin-bottom: 5px;
}

.gridIt4logo {
  width: 27px;
  height: 27px;
}

.gridIt4logo2 {
  width: 25px;
  height: 27px;
}

.gridIt4logo3 {
  width: 27px;
  height: 25px;
}

.gridIt4logo4 {
  width: 27px;
  height: 19px;
}

.gridIt4text {
  color: #3a3a3a;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  width: 10rem;
  transition: all 0.3s;
}

.learning-status {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #888888;
  margin-left: 38px;
}

.gridIt6songImg {
  width: 202px;
  height: 202px;
  border-radius: 12px;
  box-shadow: 0.2rem 0.4rem 1.2rem #00000023;
  margin-right: 3em;
}

.spotifyLogo {
  width: 50px;
  height: 50px;
  margin-bottom: 4.5em;
}

.animation-container {
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.spotify-animation-1,
.spotify-animation-2,
.spotify-animation-3 {
  width: 3px;
  border-radius: 1.5px;
  background-color: #2ad45e;
  margin-right: 3px;
}

.gridIt6nP {
  margin-left: 5px;
  color: #2ad45e;
  font-weight: 600;
  font-size: 16px;
}

.gridIt6title {
  font-weight: 900;
  font-size: 24px;
  color: #222222;
}

.gridIt6artist {
  font-weight: 700;
  font-size: 15px;
  color: #3b3b3b;
}

.spotify-animation-1 {
  animation: playing 0.8s infinite;
}
.spotify-animation-2 {
  animation: playing 1s infinite;
}
.spotify-animation-3 {
  animation: playing 1.2s infinite;
}

@keyframes playing {
  0% {
    height: 3px;
  }
  50% {
    height: 12px;
  }
  100% {
    height: 3px;
  }
}

@media (max-width: 1199px) {
  .mainContainer {
    max-width: 900px;
  }

  .displayGrid {
    grid-template-columns: repeat(2, 266px);
    grid-template-rows: repeat(6, 266px);
  }
}
