* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui", sans-serif;
}

html a:visited {
  color: unset !important;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #a7a7a7;
}

html {
  background-color: #f5f5f5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  max-width: 1200px;
  padding: 0 32px;
  margin: 32px auto;
  font-size: 16px;
  user-select: none;
}


/* theme switch */
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  font-size: 10px;
  position: relative;
  height: 3.5em;
  width: 7em;
  border: 0px solid transparent;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(0.3em, 0.25em);
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #7bc4fffd;
  /* box-shadow: inset 0px 0px 0px 0.75em #b1b0b0; */
  box-shadow: inset 0px 0px 0px 0.75em #0069cc69;
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(3.65em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(2em, 2em) rotate(-15deg);
}
/* ... */



.navPrimary {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.navDiv {
  background-color: #ebebeb;
  border-radius: 100px;
  padding: 10px 5px;
}

.navItem {
  padding: 5px 18px;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: all 0.3s;
}

.navItem.active {
  background-color: #fff;
}

.navItem:hover {
  color: #4d4d4d;
}

.navA-Contact {
  display: flex;
  cursor: pointer;
  padding: 0px 4.5px;
  background: #fff;
  border-radius: 100px;
  transition: all 0.3s;
  text-decoration: none;
}

.navGradient:hover {
  scale: 1.05;
  transition: all 0.3s;
}

.navGradient {
  padding: 4px;
  /* background: linear-gradient(45deg, #9180ff, #fdaa8c); */
  /* background-image: linear-gradient(to right, #0059ac, #8fcdff); */
  background-image: linear-gradient(to right, #0069cc, #8fcdff);
  border-radius: 100px;
}

.navContact {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 16px;
  border-radius: 100px;
  transition: all 0.3s;
  background: #fff;
}

.Copyright {
  text-align: center;
  padding: 10px;
  font-weight: 500;
  font-size: 0.8rem;
  color: #a7a7a7;
}

@media (max-width: 1199px) {
  .header {
    max-width: 900px;
  }
}

@media (max-width: 720px) {
  .header {
    max-width: 475px;
  }

  .navPrimary {
    position: fixed;
    top: 130px;
  }
}

@media (max-width: 490px) {
  .header {
    max-width: 395px;
  }
  .navItem-displayNone1 {
    display: none;
  }
}

@media (max-width: 410px) {
  .header {
    max-width: 330px;
  }
  .navItem-displayNone1 {
    display: none;
  }

  .navItem-displayNone2 {
    display: none;
  }
}
